@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Azeret Mono", monospace;
}
section {
    width: 80%;
    margin: 100px auto;
}
button {
    font-family: "Azeret Mono", monospace;
}
p {
    color: #0d1321a6;
    font-size: 0.8rem;
}

/* Nav bar styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 38px 150px;
    align-items: center;
}
nav > h1 {
    color: #0D1321;
}
nav > button {
    background: none;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-family: "Azeret Mono", monospace;
}

/* Header Hero styles */

.hero-section {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 40px;
}
.hero-section > img {
    width: 240px;
}
.hero-section > h1 {
    width: 50%;
    text-align: center;
    font-weight: bolder;
    color: #0D1321;
}
.hero-section > p {
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
    color: #0d1321bf;
}
.hero-section > button {
    background-color: #0D1321;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-family: "Azeret Mono", monospace;
}
.hero-section > button > a {
    color: #ffffff;
    text-decoration: none;
}

/* My choice section styles */

.my-choice > h1 {
    text-align: center;
}
.my-choice > p{
    text-align: center;
    width: 85%;
    margin: 24px auto;
    color: #0d1321a6;
    font-size: 0.8rem;
}


.why-my-choice-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 80px;
}
.why-my-choice-card-details {
    width: 40%;
}
.why-my-choice-card-details > h2 {
    
    color: #0d1321a6;
    word-spacing: 5px;
    font-size: 1.4rem;
    line-height: 2rem;
}
.why-my-choice-card-details > p {
    word-spacing: 5px;
    margin: 20px 0px;
    font-size: 0.8rem;
    color: #0d1321a6;
}
.why-my-choice-card-details > button {
    background: none;
    border: 1px solid #0D1321;
    padding: 8px 15px;
    border-radius: 2px;

}
.why-my-choice-card-details > button > a {
    text-decoration: none;
    color: #0d1321a6;
}


/* My inspriration section  */

.my-inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.my-inspiration > h1 {
    color: #0D1321;
}
.my-inspiration > p {
    color: #0d1321a6;
    text-align: center;
    font-size: 0.8rem;
    width: 70%;
    margin: auto;
}
.my-inspiration-video {
    padding: 18px;
    box-shadow: 0px 0px 4px 0px #0d132134;
}

/* My current target styled */

.my-current-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.my-current-target > p {
    text-align: center;
    line-height: 1.2rem;
    width: 70%;
    margin: auto;
}
.my-current-target-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.my-current-target-card {
    padding: 40px;
} 
.my-current-target-card > h1 {
    margin-top: 24px;
    color: #0D1321;
}
.my-current-target-card > p{
    margin: 24px 0px;
}
.my-current-target-card > a{
    display: block;
    color: #0D1321;
    font-weight: bold;
}
.my-current-target-card:first-child{
    background-color: hsla(12, 100%, 56%, 0.05);
}
.my-current-target-card:nth-child(2){
    background-color: hsla(220, 100%, 45%, 0.05);
}
.my-current-target-card:last-child {
    background-color: hsla(52, 100%, 50%, 0.05);
}

/* Support section */

.support-section {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5),hsla(0, 0%, 0%, 0.5)) ,url("../assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 313px;
    width: 100%;
    background-position: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.support-section > h1 {
    color: white;
}
.support-section > p {
    color: rgba(255, 255, 255, 0.68);
    width: 50%;
    text-align: center;
    margin: 10px auto;
    line-height: 1.2rem;
}
.support-section > form > input:first-child{
    width: 500px;
    padding: 15px;
    border: none;
    font-family: "Azeret Mono", monospace;
    background-color: white;
    border-radius: 5px;
}
.support-section > form > input:last-child{
    padding: 15px;
    font-family: "Azeret Mono", monospace;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer style */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}
.footer-social-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-social-links > a > img{
    width: 30px;
}
footer > p {
    font-weight: bold;
    color: #0D1321;
}